body {
  background: powderblue; }
  body h1 {
    font-size: 32px; }
  body a {
    transition: .3s all;
    text-decoration: none; }

.App {
  text-align: center; }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px; }

.App-header, .child-pages-header {
  background-color: #222;
  height: auto;
  padding: 20px;
  color: white; }

.App-intro {
  font-size: large; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

/* temporary sticky footer */
footer {
  position: absolute;
  bottom: 0;
  left: 45%; }
