body {
  background: linear-gradient(#ef5850, #3e326c);
  font-family: "Roboto", sans-serif;
  height: 100%; }
  body h1, body h2, body h3, body h4, body h5, body h6 {
    font-family: "PT Sans", sans-serif; }
  body h1 {
    font-size: 4em; }
  body h2 {
    font-size: 2.25em; }
  body h3 {
    font-size: 1.75em; }
  body h4 {
    font-size: 1.125em; }
  body p {
    font-size: 1em; }
  body a {
    transition: .3s all;
    text-decoration: none;
    font-size: 1em; }
  body input {
    font-size: 1em; }

.App {
  text-align: center; }

.App-header, .child-pages-header {
  background-color: #222222;
  height: auto;
  padding: 20px;
  color: white; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.sign-up-link {
  color: #3e326c; }
  .sign-up-link:hover {
    text-decoration: underline; }

.login-submit-button {
  border: 2px solid white;
  border-radius: 5px;
  width: 100%;
  padding: 2%;
  color: #f5f1ed;
  background-color: #ef5850;
  margin: 20px 0;
  transition: all .3s;
  cursor: pointer; }
  .login-submit-button:hover {
    border: 2px solid #ef5850;
    background-color: #f5f1ed;
    color: #ef5850; }

.create-bag-button {
  border: 2px solid white;
  border-radius: 5px;
  padding: 10px 20px;
  color: #f5f1ed;
  background-color: #ef5850;
  transition: all .3s;
  margin-right: 5px;
  cursor: pointer; }
  .create-bag-button:hover {
    border: 2px solid #ef5850;
    background-color: #f5f1ed;
    color: #ef5850; }

.save-button, .cancel-button, .delete-button, .add-item-button {
  border: 2px solid white;
  border-radius: 5px;
  padding: 10px 20px;
  color: #f5f1ed;
  background-color: #ef5850;
  transition: all .3s;
  margin: 0 5px;
  cursor: pointer; }
  .save-button:hover, .cancel-button:hover, .delete-button:hover, .add-item-button:hover {
    border: 2px solid #ef5850;
    background-color: #f5f1ed;
    color: #ef5850; }

.home-page-wrapper {
  text-align: center; }

.child-pages-header {
  display: flex;
  justify-content: space-between; }

.child-pages-header a {
  background-color: #ef5850;
  border-radius: 5px;
  padding: 5px 20px;
  border: 2px solid #f5f1ed;
  color: white; }
  .child-pages-header a img {
    width: 50px; }
  .child-pages-header a .logo-text {
    position: relative;
    top: -15px; }
  .child-pages-header a:hover {
    border: 2px solid #ef5850;
    background-color: white;
    color: #ef5850; }

.child-pages-header .search-input {
  padding: 10px;
  width: 200px;
  border-radius: 5px;
  font-size: 16px; }

.child-page-header-search-button {
  border: 2px solid white;
  border-radius: 5px;
  padding: 10px 20px;
  color: white;
  background-color: black;
  margin: 0 20px;
  font-size: 16px;
  cursor: pointer; }

.child-pages-header .header-logo {
  text-transform: lowercase; }

a.manage-bags-header-link span {
  position: relative;
  top: 17px; }

.child-page-container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 20px;
  width: 100%;
  color: #f5f1ed; }
  .child-page-container .form-group {
    margin: 20px 0; }
  .child-page-container .add-bag-title-container h2 {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    color: #f5f1ed; }
  .child-page-container .edit-bags-title-wrapper {
    text-align: center;
    margin: 0 auto;
    width: 100%; }
    .child-page-container .edit-bags-title-wrapper .edit-bags-title {
      width: 300px;
      margin: 0 auto;
      color: #f5f1ed; }

.edit-bag-container {
  display: flex; }
  .edit-bag-container .card-wrapper {
    margin: 0 20px; }
  .edit-bag-container .card-title {
    color: #f5f1ed;
    font-size: 18px;
    margin: 5px 0; }
  .edit-bag-container .card-text {
    color: #f5f1ed;
    font-size: 16px;
    font-style: italic;
    text-transform: lowercase;
    margin: 5px 0;
    width: 200px; }
  .edit-bag-container a.edit-bags-link {
    position: relative;
    transition: all 1s; }
    .edit-bag-container a.edit-bags-link .edit-bag-overlay {
      border-radius: 100px;
      padding: 15px;
      position: absolute;
      top: 40px;
      left: 10px;
      opacity: 0;
      background-color: rgba(245, 241, 237, 0.7);
      transition: all .3s; }
      .edit-bag-container a.edit-bags-link .edit-bag-overlay img {
        width: 70px; }
    .edit-bag-container a.edit-bags-link:hover .edit-bag-overlay {
      position: absolute;
      opacity: 1;
      transform: rotate(360deg); }
  .edit-bag-container .existing-bag-card-container a.edit-bags-link {
    position: relative;
    transition: all 1s; }
    .edit-bag-container .existing-bag-card-container a.edit-bags-link .edit-bag-overlay {
      left: 50px; }
    .edit-bag-container .existing-bag-card-container a.edit-bags-link:hover .edit-bag-overlay {
      position: absolute;
      visibility: visible; }

.edit-bag-wrapper {
  display: flex;
  justify-content: space-around; }
  .edit-bag-wrapper .media {
    width: 100%; }
  .edit-bag-wrapper .edit-bag-form-wrapper {
    width: 100%;
    display: flex;
    justify-content: center; }
  .edit-bag-wrapper input#BagName {
    width: 355px;
    padding: 10px;
    border-radius: 5px; }
  .edit-bag-wrapper select#TypeOfBag {
    width: 380px;
    padding: 10px;
    border-radius: 5px;
    height: 40px;
    font-size: 16px; }
  .edit-bag-wrapper textarea#BagDescription {
    width: 360px;
    padding: 10px;
    border-radius: 5px;
    height: 50px; }

.add-item-form {
  margin: 0 auto; }

.add-item-form-wrapper {
  width: 100%;
  display: flex; }

.add-item-button {
  width: 25%; }

#ItemName, #ItemDescription {
  width: 400px;
  height: 50px;
  padding: 5px 10px;
  font-size: 16px; }
