//variables
///////////////////////////////////////////

// Colors
$black: rgba(34, 34, 34, 1);
$purple: rgba(62, 50, 108, 1);
$red: rgba(239, 88, 80, 1);
$light-gray: rgba(245, 241, 237, 1);

// Fonts
$roboto: 'Roboto', sans-serif;
$pt-sans:'PT Sans', sans-serif;

// Typography
body {
  background: linear-gradient($red, $purple);
  font-family: $roboto;
  height:100%;

  h1, h2, h3, h4, h5, h6 {
    font-family: $pt-sans;
  }
  h1 {
    font-size:4em;
  }
  h2 {
    font-size: 2.25em;
  }
  h3 {
    font-size: 1.75em;
  }
  h4 {
    font-size: 1.125em;
  }
  p {
    font-size: 1em;
  }
  a {
    transition: .3s all;
    text-decoration: none;
    font-size: 1em;
  }
  input {
    font-size: 1em;
  }
  
}

.App {
  text-align: center;
}
.App-header, .child-pages-header {
  background-color: $black;
  height: auto;
  padding: 20px;
  color: white;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


// Buttons
////////////////////////////////////

.login-submit-button {
  border: 2px solid white;
  border-radius: 5px;
  width: 20%;
  padding: 2%;
  color: $light-gray;
  background-color: $red;
  margin: 20px;
  transition: all .3s;
  cursor: pointer;
  &:hover {
    border: 2px solid $red;
    background-color: $light-gray;
    color: $red;
  }
}


.home-page-wrapper {
  text-align: center;
}

//Child Page Header
////////////////////////////////////
.child-pages-header {
  display: flex;
  justify-content: space-between;
}
.child-pages-header a {
  background-color: $red;
  border-radius: 5px;
  padding:5px 20px;
  border:2px solid $light-gray;
  color: white;
  img {
    width:50px;
  }
  .logo-text {
    position: relative;
    top:-15px;
  }
  &:hover {
    border:2px solid $red;
    background-color:white;
    color: $red;
  }
}

.child-pages-header .search-input {
  padding:10px;
  width:200px;
  border-radius: 5px;
  font-size: 16px;
}

.child-page-header-search-button {
  border: 2px solid white;
  border-radius: 5px;
  padding:10px 20px;
  color:white;
  background-color: black;
  margin: 0 10px;
  font-size:16px;
  cursor: pointer;

}

.child-pages-header .header-logo {
  text-transform: lowercase;
}

a.manage-bags-header-link span {
  position: relative;
  top:17px;
}

  .child-page-container {
    margin: 0 auto;
    max-width: 1200px;
    padding:20px 0;
    width: 100%;
    
}

.edit-bag-container {
  width:125px;
  // height:189px;
  // border:1px solid blue;

  
 a.edit-bags-link {
   position: relative;
   transition: all 1s;

   .edit-bag-overlay {
    border-radius: 50px;
    padding:15px;
    position: absolute;
    top: -140px;
    left: 20px;
    visibility: hidden;
    background-color:rgba( $light-gray, .7 );
}

  &:hover {
    .edit-bag-overlay {
      position: absolute;
      top: -140px;
      visibility: visible;
    }
  }
  
 }
 
}



  




