
.child-pages-header {
    display: flex;
    justify-content: space-between;
}
.child-pages-header a {
    border: 2px solid white;
    border-radius: 5px;
    padding:10px 20px;
    color:white;
}

.child-pages-header .search-input {
    padding:10px;
    width:200px;
    border-radius: 5px;
    font-size: 16px;
}

.child-page-header-search-button {
    border: 2px solid white;
    border-radius: 5px;
    padding:10px 20px;
    color:white;
    background-color: black;
    margin: 0 10px;
    font-size:16px;
}

.child-pages-header a:hover {
    color:#03A9F4;
    border: 2px solid #03A9F4;
   
}

.child-pages-header .header-logo {
    text-transform: uppercase;
}