/* @import url('https://fonts.googleapis.com/css?family=Fascinate');
@import url('https://fonts.googleapis.com/css?family=Questrial'); */

.homepageMessage {
  margin:20px 0;
}

.homepageMessage img {
  width: 200px;
}

.homepageMessage h1 {
  color: white;
  text-transform: lowercase;
  margin-bottom: 0;
  margin-top: -30px;
}

.homepageMessage h3 {
  color:white;
}

.loginContainer {
  background-color: #d6dadb;
  border: 2px solid gray;
  border-radius: 5px;
  width: 40%;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 60px;
  padding: 1%;
}

.emailEntry {
  padding: 2%;
}

.passwordEntry {
  padding: 2%;
}

.infoButtonContainer {
  margin-top: 2%;
}

.infoButtonContainer a {
    border: 2px solid white;
    border-radius: 5px;
    padding:10px 20px;
    color: white;
    background-color: rgba(239, 88, 80, 1);
    padding-left: 8%;
    padding-right: 8%;
    transition:.3s all;

}

.infoButtonContainer a:hover {
   border:2px solid rgba(239, 88, 80, 1);
   background-color:white;
   color: rgba(239, 88, 80, 1);

}

